.header__hamburger-menu{
    width: 40px;
    height: 40px;
    background-image: url("../img/menuhamburguer.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0.5em 0 0.5em 0.5em;
}
.header{
    background-color: var(--degrade-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.1em;
}
.container{
    display: flex;
    align-items: center;
    gap: calc(50% - 88px);
    width: 100%;
}
.menu-list{
    display: none;
    position:absolute;
    top: 100%;
    width: 30vh;
    z-index : 99;
}
.container__button:checked~.menu-list{
    display: block;
}
.menu-list__item{
    padding: 1em;
    background-color: var(--degrade-header);
}
.menu-list__link{
    background:var(--azul-degrade);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--preto);
}
.container__image{
    
}
.container__button, .menu-list720{
    display: none;
}
@media screen and (min-width:821px){
   .header__hamburger-menu, .menu-list{
        display: none;
    }
    .menu-list720{
        display: flex;
        align-items: center;
    }
    .menu-list720__item{
        margin-right: 1em;
    }
    .menu-list720__link{
        color: var(--preto);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
    }
    .header{
        margin: 0 auto 0;
    }
    .container{
        display: flex; 
        align-items: center;
        width: 100%;
        gap: 6em;
    }

}

